.container {
  padding: .5em 1em;
  overflow: hidden;
  height: 100%;
}

.start-button {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(0,50%);
}

.go {
  position: absolute;
  top: 20%;
  left: 32%;
  transform: translate(0, 50%);
  font-size: 10rem;
}

.title-container {
  text-align: center;
  height: 1rem;
  span {
    font-weight: bold;
    font-size: medium;
  }
}

.game-container {
  padding-top: .5em;
  height: 470px;
  margin-bottom: 5px;
}

.landscape {
  background-image: url(../../assets/landscape.jpg);
  background-repeat: no-repeat;
}

.baloon {
  padding-top: 42%;
  padding-left: 1.5em;
  width: 55px;
}

.fmax {
  padding-left: 2.9em;
}

.bar {
  transform: rotate(-90deg);
  top: 46%;
  left: -114%;
  width: 450px;
  height: 25px;
}

.coin {
  position: absolute;
  top: 85%;
}

.charts {
  width: 100%;
}
