<div class="container">
  <button *ngIf="moveCount === 0" class="start-button" color="primary" mat-raised-button (click)="updateMoveStatusControl()">START!</button>
  <span class="go" *ngIf="moveCount === 1">GO!</span>
  <div class="mdc-layout-grid grid">
    <div class="mdc-layout-grid__inner title-container">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10">
          <span>Respiration monitoring</span>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
          <span>Muscle activation</span>
      </div>
    </div>
    <div class="mdc-layout-grid__inner game-container">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10 landscape">
        <div [@move]="moveStatusControl" class="baloon">
          <img src="assets/balloon.png" width="55" height="128" />
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
        <span class="fmax">Fmax</span>
        <mat-progress-bar class="bar" mode="determinate" [value]="signalEmg[moveCount][1]"></mat-progress-bar>
      </div>
    </div>
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 charts">
        <canvas baseChart height="25" [datasets]="lineChartDataApnea" [labels]="lineChartLabels"
          [options]="lineChartOptions" [colors]="lineChartColorsApnea" [legend]="lineChartLegend"
          [chartType]="lineChartType" [plugins]="lineChartPlugins">
        </canvas>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 charts">
        <canvas baseChart height="25" [datasets]="lineChartDataEmg" [labels]="lineChartLabels"
          [options]="lineChartOptions" [colors]="lineChartColorsEmg" [legend]="lineChartLegend"
          [chartType]="lineChartType" [plugins]="lineChartPlugins">
        </canvas>
      </div>
    </div>
  </div>


  <!-- <div *ngIf="moveCount < 28" class="coin" [ngStyle]="calcPos(2, 0)">
    <img src="assets/coin.png" width="52" height="52" />
  </div>
  <div *ngIf="moveCount < 32" class="coin" [ngStyle]="calcPos(0, 1)">
    <img src="assets/coin.png" width="52" height="52" />
  </div>
  <div *ngIf="moveCount < 38" class="coin" [ngStyle]="calcPos(0, 2.5)">
    <img src="assets/coin.png" width="52" height="52" />
  </div>
  <div *ngIf="moveCount < 42" class="coin" [ngStyle]="calcPos(0, 4)">
    <img src="assets/coin.png" width="52" height="52" />
  </div> -->
